# Data loading
We start again as usuall by loading all the data from the successful and from the unsuccessful companies.

1. We import relevant libraries

In [285]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from functools import reduce
import math
import urllib
import difflib

Then we load the data:
1. load the excel files.

In [286]:
'''
First we load both spreadsheets and extra all the names of the workbooks
'''

xls_Success_Comp       = pd.ExcelFile('data/success/Moneyball 1.1_ Success.xlsx')
xls_Success_Comp_Names = xls_Success_Comp.sheet_names


xls_Unsuccess_Comp = pd.ExcelFile('data/failure/Moneyball 1.1_ Fail.xlsx')
xls_Unsuccess_Comp_Sheet_Names = xls_Unsuccess_Comp.sheet_names

2. Load each sheet into a dataframe.

In [287]:
'''
Importing all of the excel sheets of successful informaiton into a list of dataframes
'''
df_list_SuccessComp = [pd.read_excel(r'data/success/Moneyball 1.1_ Success.xlsx',
                                         sheet_name= sheetname) for sheetname in xls_Success_Comp_Names]
                                         
# df_SuccessfulCompanies[1].drop(index = [503, 504], inplace=True)
# df_SuccessfulCompanies[2].drop(index = [573, 574], inplace=True)
# df_SuccessfulCompanies[3].drop(index = [522, 523], inplace=True)

'''
Importing all of the excel sheets of unsuccessful informaiton, into a list of dataframes

'''
df_list_UnsuccessComp = [pd.read_excel(r'data/failure/Moneyball 1.1_ Fail.xlsx',
                                         sheet_name= sheetname) for sheetname in xls_Unsuccess_Comp_Sheet_Names]

In [288]:
# lets do some sanity checks
print(len(df_list_SuccessComp))

# df_list_SuccessfulCompanies[0].head()
df_list_SuccessComp[3].head()
df_list_SuccessComp[5].head()

6

                                              README
0  Using the 'investors_uuids' in the 'Funding Ro...
1  https://drive.google.com/file/d/1wcMns7E_cAD0R...

We can see that the Excel spreadsheet contains two sheets with only links to the CSV files of founder linkedin profiles and investor profiles, we have downloaded those and to get started we will not concern ourselves with the data from these two spreadsheets. I will drop them for now.

In [289]:
indexes = [3,4,5]
for index in sorted(indexes, reverse=True):
    del df_list_SuccessComp[index]
    del df_list_UnsuccessComp[index]

len(df_list_SuccessComp), len(df_list_UnsuccessComp)

(3, 3)

We find that the same org_uuid appear several times in the funding rounds sheet.In addition we find that there is a slight discrepancy between the number of org_uuid's between the founding rounds and the company dataframe. Therefore, we will create unique new columns for each org_uuid for the founding rounds dataframe to describe the amount of founding raised, the date, and the amount of founding raised.

In [211]:
# print the unique values of the relevant columns to get an overview
for col in list(df_list_SuccessComp[3])[2:]:
    print(df_list_SuccessComp[3][col].unique())

['seed' 'series_a' 'angel' 'pre_seed']
['2022-03-22 22:57:00.000000 UTC' '2019-01-02 03:34:58.000000 UTC'
 '2022-03-15 20:15:27.000000 UTC' ... '2018-12-22 10:45:38.000000 UTC'
 '2022-05-06 21:50:48.000000 UTC' '2015-07-30 09:26:41.000000 UTC']
[4.500e+08 1.825e+08 2.000e+08 ... 2.080e+07 6.600e+07 6.600e+06]
[39. 15. 20. 17. 30. 18. 36. 25. 40. 22. 29. 37. 42. 68. 24. 27. 41. 19.
 nan 21. 84. 38.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14.
 16.]
['Adidas,Animoca Brands,Artist Capital Management,Atlas Benjelloun,BOND,Calvin Broadus,Cobalt Capital,Coinbase,Colin Kaepernick,DIGITAL,Dez Bryant,Eden Block,FTX Ventures,Friendly Trading 2,GV,Genies,Hashed,J.A.S Ventures,Justin David Blau,Lightspeed Venture Partners,LionTree,Mark Cuban,MoonPay,SV Angel,Samsung NEXT,Sergio Giavanni Kitchens,Seven Seven Six,Sound Ventures,Standard Crypto,Steve Aoki,Tess Ventures,The Forest Road Company,The Sandbox,Thrive Capital,Tiger Global Management,Time Ventures,Timothy Mosley,VaynerFund,a16z crypto'
 "Alan Howard,CMT Digital Ventures,Chainfund Capital,Eagle Seven,Galaxy Digital,Goldfinch Partners,Horizons Ventures,IntercontinentalExchange,Kingsley Advani,M12 - Microsoft's Venture Fund,Night Owl Ventures,Pantera Capital,PayU,Protocol Ventures,The Boston Consulting Group"
 'Andreessen Horowitz,BlockTower Capital,Coinbase Ventures,Corner Capital Management,Diogo M√≥nica,FTX Ventures,Hashed,Iron Grey,Kathryn Haun,Multicoin Capital,ParaFi Capital,Paxos,StreamingFast,Tiger Global Management,Variant'
 ...
 '500 Global,Adam D‚ÄôAngelo,AltaIR Capital,Alumni Ventures,Brainstorm Ventures,Clark Landry,Flucas Ventures,Foundation Capital,Founders Fund,James Conigliaro,Mindset Ventures,Peak State Ventures,Siqi Chen,StartX (Stanford-StartX Fund),UpHonest Capital,Visary Capital'
 "Andy Palmer,Arjun Sethi,Cyan Banister,Draper Associates,Elefund,Expansion Venture Capital,K9 Ventures,Kima Ventures,Oakhouse Partners,Scott Banister,Scott Belsky,Steve O'Brien,Structure Capital,TSVC,Todd Corenson,XG Ventures"
 'Alexis Ohanian,Andreessen Horowitz,Ashton Kutcher,Counterpart Advisors,Elad Gil,First Round Capital,Guy Oseary,Matt Cutts,Maynard Webb,New Enterprise Associates,Paul Buchheit,SV Angel,Start Fund,Vivi Nevo,Y Combinator,Yuri Milner']
['eec354de-1ed2-254d-647b-f218643791d9,8f1b5d66-55a1-a080-03f3-d8cdab690f0d,b6542403-0296-4510-bd57-d55eefd442b8,9263da09-f9e6-49c9-a7bd-c30e8ca79f4a,0f294eaf-04d2-778c-adca-ef9680b44b6b,7cdb6871-83f7-22ea-6a59-059264adefcc,9d333c75-2111-483a-adb5-999c08587d4c,66e40cf4-9685-ff3b-b5a7-0d43cc45eefb,b52fd96d-a2f8-443c-923a-6befa28434c2,7e7b6d97-eb36-41c4-962e-c33fd157f0a6,6497ce9e-c7fd-456d-9bbb-e311978bdea4,3215231f-463c-41f8-82b4-62b14757df65,8520ebcc-7a1d-429f-921d-952c3426d99d,ea5d9043-c7ae-47b1-978a-e567e04d26f6,3c62db15-4db8-016a-145e-dd1a06d168e2,ef72ca0b-d40c-9ffe-c553-4c7794c4d60f,2e088b1e-86ae-4869-950c-59f84a97f96b,46dc8555-6cb0-44e3-9508-f104fbd0e85e,81288bd4-3d4b-444c-a155-de957bc75377,d5df3873-7871-c608-0284-c74d0b555ccd,d4da0eb2-79cc-64d3-a127-6d6e4f04e6c1,ebae6782-7040-b515-9c89-36fb0a31e113,3047963c-d0cf-4530-84d5-71a43ee7b0ae,902deab4-ec41-68ce-d9df-c0c959578176,6638a948-d1bf-6605-0d16-18c733cf2b3d,3ef0db7f-d179-40c1-8c2c-b0cecc1abbd4,da775603-ef94-4c93-8538-071773f6d8d7,eb5b0d40-2e5a-b14e-a482-5e745fc9d9b9,46dc594f-7dc0-4988-805f-155e8b686a12,718324da-0727-a310-f0c8-ada34b81a960,1a8cfa1b-bd40-4496-82e4-a689796935ae,c97fe16e-915f-4fb7-8b11-e7f462e167f2,278a7754-416a-4428-a6b0-314492e8f24f,85960076-7ede-7ff7-6fd3-ff261aff41ab,d3184029-74d8-7e6c-717b-84ac89d0a837,e85f7c15-dc7a-4b7d-951a-669cbfbc6c1e,2860980f-c3a8-ddb8-0dae-f57d470771d4,1c51d5fc-96dd-4e71-8040-bc3a946bf29c,063bf170-ddb2-4041-8068-409fab18d502'
 'df033e28-b918-55b6-4898-c9966dd579b2,07ffde2d-5cbc-450d-a138-a0e195ca4939,17169711-da6d-4372-ab80-2dfe3b3091bc,996285b4-cd45-480b-9b77-539e41a50555,ba09fc52-546a-4855-a4bd-20087fb1422a,7f2c8124-2061-41c6-9357-6524124c8297,87e297f8-53fd-a340-cbfc-6f34d3c62a86,83b87c06-b174-aefa-1dc2-93197c97d0d9,b8968d7d-e8ee-4d00-0c3e-c1c1a5b98b4e,742de283-aebc-9611-7ed1-10deac141a0c,97733dbb-be1b-e1d5-cacc-befcebb9c19c,201d334c-4463-d56c-7737-435df78ae283,62e874ca-19a3-b0f2-ef2c-b3926687f5f1,60e53dae-995a-46a7-9b78-b4b81bf1b536,22eef412-8f8c-2d0b-a80f-1e7936f0399c'
 'ce91bad7-b6d8-e56e-0f45-4763c6c5ca29,2b638738-df6a-422c-b9ac-4d4b12e6942c,4c2e47a8-03ea-4ef7-b0f7-2d35c9c0990f,78780536-9f55-48c5-944d-85f2653869f0,8517528a-0842-d8cb-26df-535b4eb700d2,8520ebcc-7a1d-429f-921d-952c3426d99d,2e088b1e-86ae-4869-950c-59f84a97f96b,2abf47a7-abbb-4166-9cdb-57acce5ff80c,3d725c9b-7010-3627-bb2b-ccad5f8fc76a,fe18949b-01c1-ac2c-e807-a874113ec371,6246eb52-1595-468b-9781-c8457d9c09c2,46a4b2ae-f9f5-de19-3c98-2cbb15916e55,0961f8a3-0808-4de0-baad-ebbb7e1a5725,d3184029-74d8-7e6c-717b-84ac89d0a837,9730e02a-2f1c-4d20-8d71-8f4de9a49ecc'
 ...
 '56e40f50-97c7-2a77-255d-1d97d5f30646,9ac9ae67-8b94-b039-57e4-04b7f2791719,e7a1df00-0943-33cc-d451-8c2c6eae12e5,e8487396-f60c-25f1-2bb5-bfcb4e0f4b66,e69f3d96-c15f-3569-537c-3f3c8f9052a3,72734ad0-f180-155e-55ae-4832d2ad4b1b,c2e75024-70cf-4275-b92e-e0b3daaf7113,704baa25-5337-ecb0-71f7-f28c18ad3faa,fb2f8884-ec07-895a-48d7-d9a9d4d7175c,5ca42a7c-3896-42b3-9b7e-cb550ed53f1c,33bc0a59-751b-bc8d-8033-de2c2a345e9e,6b03e048-7afa-45df-b9a4-cf47737b0257,17d23171-5c9d-ec6e-a7e5-0fd4de232410,fdabe06e-0f58-3254-2d4d-040cb02a1070,40e3b902-7127-3d71-b67b-ec4a2207afe3,2465054e-18fe-424e-b0d2-14487d48fff4'
 '05d79c45-bf99-16f6-e6c5-6850eb72770f,e042a336-304b-0d89-af42-0020d7f4a307,67ae31b5-9f5e-6ea2-1fbb-ba34b6c7f5de,3ca5eb2f-0eed-a808-2354-12c35d397743,59c2be6a-29a0-7d2d-4d66-f4e0a7f0ec0f,f2332abf-15c1-0213-9059-cc9714166bc7,54150660-e846-39bf-ae8f-7acb3628dc02,d1bc5ab8-adde-56aa-5dfc-d69d0377430d,5c26c58f-6d80-43e8-8022-24c2d769af0a,69ba8866-c721-28e3-8b53-d10d81cece26,af778eb2-d12c-d953-7d7c-2e3bd5581cfe,d4ff9ae5-228d-f39b-d27c-9d20935caad8,36fef7a1-00de-4356-d24b-a56860f2c49e,04ef92e8-bd10-4ddc-803b-0aaa531dd906,b6643d8c-0766-9ccd-7fbb-39a19e9d061c,335077a2-0f31-3eae-2499-5824d532abfe'
 '6c98aa6a-0383-ea74-c27c-996b38daa5ed,ce91bad7-b6d8-e56e-0f45-4763c6c5ca29,ed970888-34df-cf7c-46b7-441d54240933,4c781fa4-aa4e-4bb9-9b08-3bf5d05d26f4,f644352a-5dbd-1c0e-fe20-286831c0dbc0,043d9e52-dcc0-0dd8-6074-206e42e20e13,cfed7b59-d5d2-52fd-45ba-fde970f935b1,7b37abb6-14e5-529f-5c0e-2912a442094c,2bfd1d4c-0708-8904-9300-c36b2d6063df,47b84763-9727-7cdf-b194-2742e3963147,564bdcf3-8bf7-4040-dac2-072af3e72e6f,902deab4-ec41-68ce-d9df-c0c959578176,1b762f4c-9076-bb80-3889-6419e5f69f51,a37b5593-f69d-a98c-7325-5a565a8bc76c,73633ee4-ea65-2967-6c5d-9b5fec7d2d5e,b7e65a1a-9e45-c60d-8b87-bfbeed127319']

Now we create a new column for each ['seed' 'series_a' 'angel' 'pre_seed'] the date and the round_created_at, raised_amount_usd, investor_count, investors_names, investors_uuids

In [212]:
# create the columns
invest_type_array = df_list_SuccessComp[3]['investment_type'].unique()
relevant_col_list = list(df_list_SuccessComp[3])[3:]
for round in invest_type_array:
    for col in relevant_col_list:
        df_list_SuccessComp[3][round + '_' + col] = ""
        df_list_UnsuccessComp[3][round + '_' + col] = ""


df_list_SuccessComp[3].head()

,org_uuid,org_name,investment_type,round_created_at,raised_amount_usd,investor_count,investors_names,investors_uuids,seed_round_created_at,seed_raised_amount_usd,...,angel_round_created_at,angel_raised_amount_usd,angel_investor_count,angel_investors_names,angel_investors_uuids,pre_seed_round_created_at,pre_seed_raised_amount_usd,pre_seed_investor_count,pre_seed_investors_names,pre_seed_investors_uuids
0,b42a3bec-1f35-42a3-9d5a-e6d3199440c6,Yuga Labs,seed,2022-03-22 22:57:00.000000 UTC,450000000.0,39.0,"Adidas,Animoca Brands,Artist Capital Managemen...","eec354de-1ed2-254d-647b-f218643791d9,8f1b5d66-...",,,...,,,,,,,,,,
1,8335acfe-629e-4073-b857-205b3b5d2a3d,Bakkt,series_a,2019-01-02 03:34:58.000000 UTC,182500000.0,15.0,"Alan Howard,CMT Digital Ventures,Chainfund Cap...","df033e28-b918-55b6-4898-c9966dd579b2,07ffde2d-...",,,...,,,,,,,,,,
2,1fc074a8-9f78-4dee-ba4e-d3a7de3096b4,Aptos,seed,2022-03-15 20:15:27.000000 UTC,200000000.0,15.0,"Andreessen Horowitz,BlockTower Capital,Coinbas...","ce91bad7-b6d8-e56e-0f45-4763c6c5ca29,2b638738-...",,,...,,,,,,,,,,
3,af0849e9-cddf-7558-1110-6b0900406945,Solugen,seed,2017-10-25 06:05:55.000000 UTC,4400000.0,15.0,"Brad Flora,Cantos,Fifty Years,FundersClub,Hack...","759ccd3b-a622-8d14-5656-86662013a1e6,0c9a00aa-...",,,...,,,,,,,,,,
4,cf6d3339-99d3-6ff2-4709-3f071d130750,Color,series_a,2015-04-21 06:59:30.000000 UTC,15000000.0,20.0,"#Angels,AME Cloud Ventures,Aaron Levie,Avichal...","65609a06-78e0-195e-7032-ff9353b82b46,7de64040-...",,,...,,,,,,,,,,

In [213]:
# we fill the new columns with the relevant values
for uuid in df_list_SuccessComp[3]['org_uuid'].unique():
    for round in invest_type_array:
        for col in relevant_col_list:
            df_list_SuccessComp[3][round + '_' + col].loc[(df_list_SuccessComp[3]['org_uuid'] == uuid)] = df_list_SuccessComp[3].loc[
                                                                                                     (df_list_SuccessComp[3]['org_uuid'] == uuid) & 
                                                                                                     (df_list_SuccessComp[3]['investment_type'] == round)].loc[:,col]
            df_list_UnsuccessComp[3][round + '_' + col].loc[(df_list_UnsuccessComp[3]['org_uuid'] == uuid)] = df_list_UnsuccessComp[3].loc[
                                                                                                     (df_list_UnsuccessComp[3]['org_uuid'] == uuid) & 
                                                                                                     (df_list_UnsuccessComp[3]['investment_type'] == round)].loc[:,col]

df_list_SuccessComp[3].head()

/var/folders/zm/n63_ssc512d4ygg3lbvwql400000gq/T/ipykernel_53439/1384574451.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list_SuccessComp[3][round + '_' + col].loc[(df_list_SuccessComp[3]['org_uuid'] == uuid)] = df_list_SuccessComp[3].loc[
/var/folders/zm/n63_ssc512d4ygg3lbvwql400000gq/T/ipykernel_53439/1384574451.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list_UnsuccessComp[3][round + '_' + col].loc[(df_list_UnsuccessComp[3]['org_uuid'] == uuid)] = df_list_UnsuccessComp[3].loc[

,org_uuid,org_name,investment_type,round_created_at,raised_amount_usd,investor_count,investors_names,investors_uuids,seed_round_created_at,seed_raised_amount_usd,...,angel_round_created_at,angel_raised_amount_usd,angel_investor_count,angel_investors_names,angel_investors_uuids,pre_seed_round_created_at,pre_seed_raised_amount_usd,pre_seed_investor_count,pre_seed_investors_names,pre_seed_investors_uuids
0,b42a3bec-1f35-42a3-9d5a-e6d3199440c6,Yuga Labs,seed,2022-03-22 22:57:00.000000 UTC,450000000.0,39.0,"Adidas,Animoca Brands,Artist Capital Managemen...","eec354de-1ed2-254d-647b-f218643791d9,8f1b5d66-...",2022-03-22 22:57:00.000000 UTC,450000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8335acfe-629e-4073-b857-205b3b5d2a3d,Bakkt,series_a,2019-01-02 03:34:58.000000 UTC,182500000.0,15.0,"Alan Howard,CMT Digital Ventures,Chainfund Cap...","df033e28-b918-55b6-4898-c9966dd579b2,07ffde2d-...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1fc074a8-9f78-4dee-ba4e-d3a7de3096b4,Aptos,seed,2022-03-15 20:15:27.000000 UTC,200000000.0,15.0,"Andreessen Horowitz,BlockTower Capital,Coinbas...","ce91bad7-b6d8-e56e-0f45-4763c6c5ca29,2b638738-...",2022-03-15 20:15:27.000000 UTC,200000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,af0849e9-cddf-7558-1110-6b0900406945,Solugen,seed,2017-10-25 06:05:55.000000 UTC,4400000.0,15.0,"Brad Flora,Cantos,Fifty Years,FundersClub,Hack...","759ccd3b-a622-8d14-5656-86662013a1e6,0c9a00aa-...",2017-10-25 06:05:55.000000 UTC,4400000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cf6d3339-99d3-6ff2-4709-3f071d130750,Color,series_a,2015-04-21 06:59:30.000000 UTC,15000000.0,20.0,"#Angels,AME Cloud Ventures,Aaron Levie,Avichal...","65609a06-78e0-195e-7032-ff9353b82b46,7de64040-...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
# we drop the duplicate rows
print(df_list_SuccessComp[3].shape, df_list_UnsuccessComp[3].shape)

df_list_SuccessComp[3].drop_duplicates(), df_list_UnsuccessComp[3].drop_duplicates()

print(df_list_SuccessComp[3].shape, df_list_UnsuccessComp[3].shape)

(4652, 28) (10353, 28)
(4652, 28) (10353, 28)

3. Join all of the dataframes together.

In [290]:
'''Merging all of the successful data into one dataframe and creating a column called "success_flag" 
which will denote if the company is successful or not '''
df_SuccessfulCompanies_merged = reduce(lambda  left,right: pd.merge(left, right, on=['org_uuid'],
                                                                    how='outer', 
                                                                    suffixes=('', '_y')),
                                                                    df_list_SuccessComp)
df_SuccessfulCompanies_merged['success_flag']  = 1

# drop duplicate columns
df_SuccessfulCompanies_merged.drop(df_SuccessfulCompanies_merged.filter(regex='_y$').columns, axis=1, inplace=True)

'''Merging all of the unsuccessful data into one dataframe and creating a column called "success_flag" 
which will denote if the company is successful or not '''


df_UnsuccessfulCompanies_merged = reduce(lambda  left,right: pd.merge(left, right, on=['org_uuid'],
                                                                      how='outer', 
                                                                      suffixes=('', '_y')),
                                                                      df_list_UnsuccessComp)
df_UnsuccessfulCompanies_merged['success_flag']  = 0

# drop duplicate columns
df_UnsuccessfulCompanies_merged.drop(df_UnsuccessfulCompanies_merged.filter(regex='_y$').columns, axis=1, inplace=True)

'''Merge the successful and unsuccessful data into one datafram'''
df_All_Companies_merged = pd.concat([df_SuccessfulCompanies_merged, df_UnsuccessfulCompanies_merged], ignore_index=True, sort=False)

In [291]:
# sanity check
df_All_Companies_merged.head()

,org_uuid,org_name,domain,status,founded_on,category_list,category_groups_list,country_code,city,short_description,long_description,founder_linkedin_url,success_flag
0,a2323b6c-29b9-4750-905c-cdcbd9ce92b8,10X Banking,10xbanking.com,operating,2016-01-01,"Banking,Financial Services,FinTech,Software","Financial Services,Lending and Investments,Sof...",GBR,London,10X Banking is a financial service technology ...,"10x Banking (10x), a financial services techno...",https://www.linkedin.com/in/antony-jenkins/,1
1,cf3b00cf-ffbf-0e4f-6427-a60e5060de39,10X Genomics,10xgenomics.com,ipo,2012-01-01,"Biotechnology,Genetics,Health Care,Medical","Biotechnology,Health Care,Science and Engineering",USA,Pleasanton,10X Genomics ELV solutions and security system...,10x Genomics is creating revolutionary DNA seq...,https://www.linkedin.com/in/ben-hindson-09739813/,1
2,cf3b00cf-ffbf-0e4f-6427-a60e5060de39,10X Genomics,10xgenomics.com,ipo,2012-01-01,"Biotechnology,Genetics,Health Care,Medical","Biotechnology,Health Care,Science and Engineering",USA,Pleasanton,10X Genomics ELV solutions and security system...,10x Genomics is creating revolutionary DNA seq...,https://www.linkedin.com/in/serge-saxonov-7b42...,1
3,0680987f-23cd-4fa5-850c-38326fffaa36,"111, Inc.",corporate.111.com.cn,ipo,2010-01-01,"Health Care,Medical",Health Care,CHN,Shanghai,"111, Inc. operates as a digital and mobile hea...","111,Inc. is a leading digital and mobile healt...",https://www.linkedin.com/in/junling-liu-2b90724/,1
4,a79a6ae8-3c74-0db7-7e6b-b4f7662d37e8,17zuoye,ucenter.17zuoye.com,ipo,2011-01-01,"E-Learning,EdTech,Education,Internet,Language ...","Education,Internet Services,Software",CHN,Shanghai,17zuoye is an online learning platform for K-1...,17zuoye is an online learning platform for K-1...,https://www.linkedin.com/in/dun-xiao-3622629/,1

Now we save the dataframe

In [68]:
df_All_Companies_merged.to_csv('data/Data_merged_no_founder_info.csv')